* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  --colorFondo: #0f0611;
  --colorFondoClaro: #251329;
  --colorLetra: #feae02;
  --colorLetraClara: #febe35;
  --colorSecundario: #ead26c;
  --colorTerciario: #52281e;
}
